In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/processed/rossmann_cleaned.csv")
df['Date'] = pd.to_datetime(df['Date'])

In [2]:
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Week'] = df['Date'].dt.isocalendar().week.astype(int)
df['Day'] = df['Date'].dt.day
df['IsWeekend'] = df['DayOfWeek'].isin([6, 7]).astype(int)

In [3]:
df['StateHoliday'] = df['StateHoliday'].fillna('None')
df['IsStateHoliday'] = (df['StateHoliday'] != 'None').astype(int)

In [4]:
df['SchoolHoliday'] = df['SchoolHoliday'].astype(int)

In [5]:
df['Promo'] = df['Promo'].astype(int)

In [6]:
df['IsPromo2Active'] = df['IsPromo2Active'].astype(int)

In [7]:
assortment_map = {'a': 1, 'b': 2, 'c': 3}
df['AssortmentLevel'] = df['Assortment'].map(assortment_map)

In [8]:
df['LogSales'] = np.log1p(df['Sales'])

In [9]:
df = df.sort_values(['Store', 'Date'])

In [10]:
df[['Sales', 'Promo', 'IsPromo2Active', 'IsStateHoliday']].describe()

               Sales          Promo  IsPromo2Active  IsStateHoliday
count  844392.000000  844392.000000   844392.000000   844392.000000
mean     6955.514291       0.446352        0.388543        0.133883
std      3104.214680       0.497114        0.487419        0.340527
min         0.000000       0.000000        0.000000        0.000000
25%      4859.000000       0.000000        0.000000        0.000000
50%      6369.000000       0.000000        0.000000        0.000000
75%      8360.000000       1.000000        1.000000        0.000000
max     41551.000000       1.000000        1.000000        1.000000

In [11]:
df.to_csv("../data/processed/rossmann_features.csv", index=False)

In [12]:
demo= pd.read_csv("../data/processed/rossmann_features.csv")

In [13]:
demo

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionAge,IsPromo2Active,Year,Month,Week,Day,IsWeekend,IsStateHoliday,AssortmentLevel,LogSales
0,1,3,2013-01-02,5530,668,1,0,NaN,1,c,...,52.0,0,2013,1,1,2,0,0,1,8.618124
1,1,4,2013-01-03,4327,578,1,0,NaN,1,c,...,52.0,0,2013,1,1,3,0,0,1,8.372861
2,1,5,2013-01-04,4486,619,1,0,NaN,1,c,...,52.0,0,2013,1,1,4,0,0,1,8.408940
3,1,6,2013-01-05,4997,635,1,0,NaN,1,c,...,52.0,0,2013,1,1,5,1,0,1,8.516793
4,1,1,2013-01-07,7176,785,1,1,NaN,1,c,...,52.0,0,2013,1,2,7,0,0,1,8.878637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844387,1115,1,2015-07-27,10712,608,1,1,NaN,1,d,...,24187.0,1,2015,7,31,27,0,0,3,9.279213
844388,1115,2,2015-07-28,8093,500,1,1,NaN,1,d,...,24187.0,1,2015,7,31,28,0,0,3,8.998878
844389,1115,3,2015-07-29,7661,473,1,1,NaN,1,d,...,24187.0,1,2015,7,31,29,0,0,3,8.944028
844390,1115,4,2015-07-30,8405,502,1,1,NaN,1,d,...,24187.0,1,2015,7,31,30,0,0,3,9.036701
844391,1115,5,2015-07-31,8680,538,1,1,NaN,1,d,...,24187.0,1,2015,7,31,31,0,0,3,9.068892