In [1]:
import pandas as pd

baseline = pd.read_csv("../models/baseline/baseline_metrics.csv")
arima_sarima = pd.read_csv("../models/baseline/arima_sarima_metrics.csv")
prophet = pd.read_csv("../models/baseline/prophet_metrics.csv")
lstm = pd.read_csv("../models/baseline/lstm_metrics.csv")

results = pd.concat(
    [baseline, arima_sarima, prophet, lstm],
    ignore_index=True
)

results

            Model          MAE         RMSE       MAPE
0           Naive  4707.442623  5102.253437  75.009001
1  Moving Average  1906.461358  2298.017850  27.549826
2           ARIMA  1664.533953  2223.611772  21.946912
3          SARIMA   955.689711  1123.914508  14.265960
4         Prophet   982.254774  1133.387443  14.841592
5            LSTM   978.214905  1394.643906  26.254384

In [2]:
results.sort_values("RMSE")

            Model          MAE         RMSE       MAPE
3          SARIMA   955.689711  1123.914508  14.265960
4         Prophet   982.254774  1133.387443  14.841592
5            LSTM   978.214905  1394.643906  26.254384
2           ARIMA  1664.533953  2223.611772  21.946912
1  Moving Average  1906.461358  2298.017850  27.549826
0           Naive  4707.442623  5102.253437  75.009001